
<%- include("partials/second"); -%>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo animate-charcter-head">Woofyverse</label>
    <ul>
      <li><a href="/">Home</a></li>
      <li class="nav-item dropdown">
        <a style="color: white; font-size:16px" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          Adopt
        </a>
        <ul style="line-height:0cm ;" class="dropdown-menu">
          <li><a class="dropdown-item" href="/permanent-adoption">Adopt Permanently</a></li>
          <li><a class="dropdown-item" href="/experience-adoption">Experience Adoption</a></li>
          <li><a class="dropdown-item" href="/breed">Search by Breed</a></li>
        </ul>
      </li>
      <li><a href="/compose">Rehome</a></li>
      <li><a href="/adopted">Adopted</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/donation">Donate</a></li>
        <li><a class="btn btn-primary logout" href="/logout"><%=text%></a></li>
     
  </nav>
      <div class="container">

<div class="container">
    <h1 class="animate-charcter" id="changeHeading" style="font-weight: 700; font-size:36px; text-align: center;"><%=dogName%> is already Adopted</h1>
   <% var options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
   <p style="font-family: IBM Plex Sans, sans-serif; font-weight:400; font-size: 16px;"><%=date.toLocaleDateString('en-us', options)%></p>

<span  style="font-weight: 300; font-size:20px;"><%-additionalTwo%></span>
<br>
<img   src="<%=imagePath%>" class="d-block w-100" alt="imageThree"> 
   <div class="aboutMe">


    <h2 style="font-weight: 500; font-size: 49px; text-align: center;">About Me</h2>
</div>
<div class="jumbotron">
<div> 
    <p style="font-weight: 600; font-size:20px;">Duration <span style="font-weight: 300; font-size:20px;"> <%=duration%></span></p>
    <p style="font-weight: 600; font-size:20px;">Breed <span style="font-weight: 300; font-size:
    20px;"><%=breed%> </span></p>
    <p style="font-weight: 600; font-size:20px;">Age <span style="font-weight: 300; font-size:20px;"> <%=dogAge%></span></p>
    <p style="font-weight: 600; font-size:20px;">Gender <span style="font-weight: 300; font-size:20px;"> <%=gender%></span></p>
</div>

<div class="">
    <p style="font-weight: 600; font-size:20px;">Vaccinated <span style="font-weight: 300; font-size:20px;"> <%=vaccinated%></span></p>
    <p style="font-weight: 600; font-size:20px;">Spayed <span style="font-weight: 300; font-size:20px;"> <%=spayed%></span></p>
    <p style="font-weight: 600; font-size:20px;">Neutered <span style="font-weight: 300; font-size:20px;"> <%=neutered%></span></p> 

</div>
<div>
    <p style="font-weight: 600; font-size:20px;">Good with Cats <span style="font-weight: 300; font-size:20px;"> <%=cats%></span></p> 
    <p style="font-weight: 600; font-size:20px;">Good with Dogs <span style="font-weight: 300; font-size:20px;"> <%=dogs%></span></p>
    <p style="font-weight: 600; font-size:20px;">shots up to Date <span style="font-weight: 300; font-size:20px;"> <%=shots%></span></p>   
</div>
</div>
</div>
<br>
<br>
<br>

<%- include("partials/footer"); -%>
