
<%- include("partials/second"); -%>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo animate-charcter-head">Woofyverse</label>
    <ul>
      <li><a href="/">Home</a></li>
      <li class="nav-item dropdown">
        <a style="color: white; font-size:16px" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          Adopt
        </a>
        <ul style="line-height:0cm ;" class="dropdown-menu">
          <li><a class="dropdown-item" href="/permanent-adoption">Adopt Permanently</a></li>
          <li><a class="dropdown-item" href="/experience-adoption">Experience Adoption</a></li>
          <li><a class="dropdown-item" href="/breed">Search by Breed</a></li>
        </ul>
      </li>
      <li><a href="/compose">Rehome</a></li>
      <li><a href="/adopted">Adopted</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/donation">Donate</a></li>
        <li><a class="btn btn-primary logout" href="/<%=text%>"><%=text%></a></li>
     
  </nav>
  <br><br><br>
      <div class="container">

<div class="container">
  <center>
    <h1 class="animate-charcter" id="changeHeading" style="font-weight: 700; font-size:55px; text-align: center;">Adopt <%=dogName%></h1>
    </center> 
   <% var options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
   <p style="font-family: IBM Plex Sans, sans-serif; font-weight:400; font-size: 16px;"><%=date.toLocaleDateString('en-us', options)%></p>

   <div class="share-btn-continer">
    <a href="https://reddit.com/submit?url=https://woofyverse.herokuapp.com/posts/<%=_id%>&title= Adopt <%=dogName%>" target="_blank"  class="reddit-btn"> <i class="fa-brands fa-reddit fa-2xl"></i></a>
    
    <a href="https://www.linkedin.com/shareArticle?url=https://woofyverse.herokuapp.com/posts/<%=_id%>&title= Adopt <%=dogName%>" target="_blank"  class="linkedin-btn"><i class="fa-brands fa-linkedin fa-2xl"></i></a>

    <a  href="https://twitter.com/share?url=https://woofyverse.herokuapp.com/posts/<%=_id%>&text= Adopt <%=dogName%>" target="_blank"   class="twitter-btn"><i class="fa-brands fa-twitter fa-2xl"></i></a>

    <a href="https://www.facebook.com/sharer.php?u=https://woofyverse.herokuapp.com/posts/<%=_id%>" target="_blank" class="facebook-btn"><i class="fa-brands fa-facebook fa-2xl"></i></a>

    <a href="https://api.whatsapp.com/send?text= Adopt <%=dogName%> https://woofyverse.herokuapp.com/posts/<%=_id%>" target="_blank"  class="whatsapp-btn"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
</div>
<br>
<span  style="font-weight: 300; font-size:20px;"><%-additionalTwo%></span>
<br>
<img   src="<%=imagePath%>" class="d-block w-100" alt="imageThree"> 
   <div class="aboutMe">


    <h2 style="font-weight: 500; font-size: 49px; text-align: center;">About Me</h2>
</div>
<div class="jumbotron">
<div class=""> 
    <p style="font-weight: 600; font-size:20px;">Duration <span style="font-weight: 300; font-size:20px;"> <%=duration%></span></p>
    <p style="font-weight: 600; font-size:20px;">Breed <span style="font-weight: 300; font-size:
    20px;"><%=breed%> </span></p>
    <p style="font-weight: 600; font-size:20px;">Age <span style="font-weight: 300; font-size:20px;"> <%=dogAge%></span></p>
    <p style="font-weight: 600; font-size:20px;">Gender <span style="font-weight: 300; font-size:20px;"> <%=gender%></span></p>
</div>

<div class="">
    <p style="font-weight: 600; font-size:20px;">Vaccinated <span style="font-weight: 300; font-size:20px;"> <%=vaccinated%></span></p>
    <p style="font-weight: 600; font-size:20px;">Spayed <span style="font-weight: 300; font-size:20px;"> <%=spayed%></span></p>
    <p style="font-weight: 600; font-size:20px;">Neutered <span style="font-weight: 300; font-size:20px;"> <%=neutered%></span></p> 
    <p style="font-weight: 600; font-size:20px;">shots up to Date <span style="font-weight: 300; font-size:20px;"> <%=shots%></span></p>  

</div>
<div class="">
    <p style="font-weight: 600; font-size:20px;">Good with Cats <span style="font-weight: 300; font-size:20px;"> <%=cats%></span></p> 
    <p style="font-weight: 600; font-size:20px;">Good with Dogs <span style="font-weight: 300; font-size:20px;"> <%=dogs%></span></p>
    
</div>
</div>
  
<div class="jumbotron">
   <div class="ownerDetails">
    <h2 style="font-weight: 700; font-size:
    29px; text-align: center;">Contact the owner</h2>
    <br>
    <p style="font-weight: 600; font-size:
    20px;">Why Do I want to Rehome <%=dogName %> ?</p>
    <span style="font-weight: 300; font-size:20px;"><%-additionalOne%></span>
   </div>

   <div>
    <br>
    <p style="font-weight: 600; font-size:
    20px;">Name <span style="font-weight: 300; font-size:20px;"><%=ownerName%> <span> </p>
    <p style="font-weight: 600; font-size:
    20px;">Address <span style="font-weight: 300; font-size:20px"><%=ownerAddress%>, <%=city%>, <%=state%></span> </p>
    <p style="font-weight: 600; font-size:
    20px;">Phone <span style="font-weight: 300; font-size:20px;"><%=ownerPhone%></span></p>
</div>
</div>
</div>
<br>
<br>
<br>

<%- include("partials/footer"); -%>
