<%- include("partials/second"); -%>
<br><br>

<div class="container thank-you">
    <div class="card text-center">
<div class="card" style="width: 100%;">
    <img src="<%=imagePath%>" class="card-img-top" alt="...">
    <div class="card-body">
        <h4 class="card-title" style="font-weight: 700; font-size:25px; text-align: center;">Adopt <%=dogName%></h4>
      <p style="font-weight: 600; font-size:18px; text-align: center;" class="">Thank You for Choosing Woofyverse </p>
    </div>
    <ul class="list-group list-group-flush">
         <li class="list-group-item"><span style="font-weight: 600;">Owner</span> <%=ownerName%></li>
        <li class="list-group-item"><span style="font-weight: 600;">Age</span> <%=dogAge%></li>
        <li class="list-group-item"><span style="font-weight: 600;">Gender</span> <%=gender %></li>
        <li class="list-group-item"><span style="font-weight: 600;">Breed</span> <%=breed%></li>
        <li class="list-group-item"><span style="font-weight: 600;">Phone</span> <%=ownerPhone%></li>
      </ul>
    <div class="card-body">
     
      <a style="font-weight:400; font-size: 18px;" href="/delete/<%=_id%>/<%=ranNum%>?methode=DELETE" class="btn btn-danger"><i class="fa-solid fa-ban"></i></a>
      <a style="font-weight:400; font-size: 18px;" href="/<%=_id%>/edit/<%=ranNum%>" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
      <a style="font-weight:400; font-size: 18px;" href="/posts/<%=_id%>" class="btn btn-warning"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
    <br>
          <div class="share-btn-continer">
            <a href="https://reddit.com/submit?url=https://woofyverse.herokuapp.com/posts/<%=_id%>&title=<%=dogName%>" target="_blank"  class="reddit-btn"> <i class="fa-brands fa-reddit fa-2xl"></i></a>
            
            <a href="https://www.linkedin.com/shareArticle?url=https://woofyverse.herokuapp.com/posts/<%=_id%>&title=<%=dogName%>" target="_blank" class="linkedin-btn"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        
            <a  href="https://twitter.com/share?url=https://woofyverse.herokuapp.com/posts/<%=_id%>&text=<%dogName%>" target="_blank"  class="twitter-btn"><i class="fa-brands fa-twitter fa-2xl"></i></a>
        
            <a href="https://www.facebook.com/sharer.php?u=https://woofyverse.herokuapp.com/posts/<%=_id%>" target="_blank" class="facebook-btn"><i class="fa-brands fa-facebook fa-2xl"></i></a>
        
            <a href="https://api.whatsapp.com/send?text=<%=dogName%> https://woofyverse.herokuapp.com/posts/<%=_id%>" target="_blank"  class="whatsapp-btn"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
        </div>
  </div>
</div>
</div>


<%- include("partials/footer"); -%>